

.trust-badges-section {
  background: linear-gradient(135deg, #7b2cbf 0%, #9d4edd 100%);
  padding: 2rem 0;
  margin: 0;
  width: 100vw; 
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.icon-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
}

.icon-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff1654;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 
    50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%
  );
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  background: #ff1654;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.badge-title {
  font-size: 0.65rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1.3;
  text-align: center;
}

@media (max-width: 768px) {
  .trust-badges-section {
    padding: 1.5rem 0;
  }

  .icon-wrapper {
    width: 50px;
    height: 50px;
  }
  
  .icon-circle {
    width: 38px;
    height: 38px;
  }
  
  .badge-number {
    font-size: 1.1rem;
  }
  
  .badge-title {
    font-size: 0.55rem;
  }
} 
