.text-pink {
  color: #ff69b4 !important;
}

.btn-pink {
  background-color: #ff69b4 !important;
  border: none !important;
}

.btn-pink:hover {
  background-color: #ff4785 !important;
}

.btn-outline-pink {
  border-color: #ff69b4 !important;
  color: #ff69b4 !important;
}

.btn-outline-pink:hover {
  background-color: #ff69b4 !important;
  color: white !important;
}